body {
  background-color: #262b30;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 17px;
}
.fix_spaces {
  background-color: #007bff;
  margin: 0 auto;
  width: 88%;
}
nav .navbar-nav li {
  color: #fff !important;
}
nav .navbar-nav li a {
  color: white !important;
  -webkit-transition: color 0.2s !important;
  transition: color 0.2s !important;
}
nav .navbar-nav li a:hover {
  color: #0056b2 !important;
}
.circled {
  padding-left: 22px;
}
.circled > li {
  font-size: 20px;
}
.circled a,
.article a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.circled a:hover,
.article a:hover {
  color: #007bff;
}
.side h2 {
  color: #007bff;
}
.blog-post {
  background-color: #fff;
  margin-bottom: 30px;
}
.post-content {
  color: #000;
  padding: 40px;
}
.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #78808c;
  padding: 0;
}
@media (max-width: 767px) {
  .scrollup {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .membername {
    text-align: center !important;
  }
}
.form {
  margin-top: 90px !important;
}
.membername {
  margin-top: 20px;
  font-size: 20px;
}
.membername i {
  font-size: 17px;
}
.scrollup {
  width: 64px;
  height: 64px;
  text-decoration: none;
  background: url("../img/upbutton.png") no-repeat 0px 0px;
  position: fixed;
  right: 55px;
  bottom: 55px;
  display: none;
  z-index: 10;
}
.member {
  margin-top: 20px;
}
.member img {
  margin-top: 20px !important;
}
.member p {
  text-align: justify;
}
.article {
  text-align: center;
  margin: 20px 0;
  padding: 40px;
}
.article h1 {
  color: #007bff;
  margin: 20px 0;
}
.lightbg {
  background-color: #262b30;
}
.darkbg {
  background-color: #1b2127;
}
.images {
  margin: 20px 0;
}
.images img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.images img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  height: auto;
  cursor: pointer;
}
footer {
  text-align: center;
  background-color: #1b2127;
  padding: 15px;
  font-size: 20px;
  color: #c8cace;
}
