
.icon-user:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */