body {
  background-color: #262b30;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 17px;
}
.login-form-header {
  color: #007bff;
  font-size: 26px;
  text-align: center;
  margin: 20px 0;
}
@media (max-width: 440px) {
  .login-form {
    width: 100% !important;
  }
}
.login-from {
  background-color: white;
  margin: 0 auto;
  width: 400px;
  color: black;
  padding: 20px;
}
footer {
  width: 100%;
  text-align: center;
  background-color: #1b2127;
  padding: 15px;
  font-size: 20px;
  color: #c8cace;
}
