@main-color: #007bff  ;
@main-color-dark: #0a5d84;
@background-main-color: #262b30;
@background-dark-color: #1b2127;
@font-main-color: #fff;
@footer-font-color: #c8cace;

body
{
  background-color: @background-main-color;
  font-family: 'Titillium Web', sans-serif;
	color: black;
	font-size: 17px;
}

.error
{
  color: red;
  text-align: center;
  margin-top: 20px;
}

.login-form-header
{
	color: @main-color;
  font-size: 26px;
  text-align: center;
  margin: 20px 0;
}


nav .navbar-nav li {
  color: #fff !important;
}
nav .navbar-nav li a {
  color: white !important;
  -webkit-transition: color 0.2s !important;
  transition: color 0.2s !important;
}
nav .navbar-nav li a:hover {
  color: #0056b2 !important;
}

.login-from
{
  background-color: white;
  margin: 0 auto;
  width: 400px;
  color: black;
  padding: 20px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 41; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 220px; /* Same as the width of the sidebar */
}

@media (max-width: 991.98px)
{
  .main
  {
    margin-left: 0;
  }
}

.article
{
  min-height: 100px;
  margin-top: 35px;
  border-radius: 3px;
  background-color: white;
  padding: 30px;
}

.article h2
{
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

footer
{
  width: 100%;
	text-align: center;
	background-color: @background-dark-color;
	padding: 10px;
	font-size: 18px;
	color: @footer-font-color;
}
